{{define "data-ask"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title | html}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" content="大学喵,喵喵工作室,广州大学,校园app,校园,app,guangdamiao,大学城,广州大学城,校园兼职,社团,培训,校园信息,活动">
		<meta name="description" content="大学喵，带给你更惬意的大学生活">
		<link rel="stylesheet" href= {{printf "\"%sbootstrap-3.3.7-dist/css/bootstrap.min.css\"" .SrcHost}}>  
		<script src= {{printf "\"%sbootstrap-3.3.7-dist/jquery-2.1.1/jquery.min.js\"" .SrcHost}}></script>
		<script src= {{printf "\"%sbootstrap-3.3.7-dist/js/bootstrap.min.js\"" .SrcHost}}></script>
		<style>
			* {
				max-width: 100%;
			}
			img {
				display: inline-block;
				max-width: 100%;
				height: auto;
			}
			.body {
				overflow: auto;
				word-break: break-all;
				word-wrap: break-word;
			}
			.container {
				width: 100%;
			}
			.icon {
				width: 60px;
				height: 60px;
				border-radius: 8px;
			}
			.nickname {
				font-size:15px;
				color:#4a4a4a;
				letter-spacing:0.02px;
				text-align:left;
			}
			.gender {
				font-size:15px;
				letter-spacing:0.01px;
			}
			.gender.girl {
				color:#fe3824;
			}
			.gender.boy {
				color:#4990e2;
			}
			.slove {
				margin-left: 5px;
				font-size:13px;
				color:#9b9b9b;
				letter-spacing:-0.31px;
			}
			.padding {
				padding-top: 4px;
				padding-bottom: 4px;
				padding-left: 0;
				padding-right: 0;
			}
			.thumb {
				display: block;
				margin-right: 7px;
				margin-top: 7px;
				width: 70px;
				height: 70px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				border-radius: 4px;
				float: left;
			}
			.download {
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding-left: 30px;
				padding-right:30px;
				border: 0px;
				background-color:#4990e2;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="body">
				<div class="col-xs-3 col-sm-1 padding">
					<p><img class="icon" src = {{printf "%q" .Icon}}></img></p>
					<p>
						{{if eq "寻物启事" .Label}}
						<span style="color: #fe3824">#寻物启事</span>
						{{else if eq "失物招领" .Label}}
						<span style="color: green">#失物招领</span>
						{{else}}
						<span style="color: #f6a623">#{{.Label}}</span>
						{{end}}
					</p>
				</div>
				<div class="col-xs-9 col-sm-10 padding">
					<p style="margin-top: 9px;margin-bottom: 3px;">
						<span class="nickname">{{.Nickname | html}}</span>
						{{if eq .Gender "男"}}
						<span class="gender boy">♂</span>
						{{else if eq .Gender "女"}}
						<span class="gender girl">♀</span>
						{{end}}
						{{if .Solve}}
						<span class="slove">[已解决]</span>
						{{end}}
					</p>
					<p style="font-size:12px; color:#a8a8a8;">
						<span>{{.CreateTime}}</span>
						{{if ne .Reward "0"}}
							<span>悬赏: <span style="color: red;">{{.Reward}}</span>喵币</span>
						{{end}}
						{{if .Urgent}}
							<span><img src="/urgent.png"></img><span style="color: red;">&nbsp;急问</span></span>
						{{end}}
					</p>
					<p style="font-size:15px; color:#4a4a4a; padding-top: 6px;font-weight:bold;">"{{.Title | html}}"</p>
					<p style="font-size:14px; color:#6c6c6c; white-space: pre-wrap;">{{.Content | html}}</p>
					<span>
						{{range .ThumbnailImage}}
						<div class="thumb" style= {{printf "\"background-image: url('%s')\"" .}}></div>
						{{end}}
					</span>
				</div>
			</div>
		</div>
		<div style="padding-bottom: 30px;padding-top: 48px;height: auto;">
			<button class="btn btn-primary download" onclick="location.href='/'">下载大学喵App查看回复</button>
		</div>
	</body>
</html>
{{end}}