{{define "data"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title | html}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" content="大学喵,喵喵工作室,广州大学,校园app,校园,app,guangdamiao,mewmewstudio,大学城,广州大学城,校园兼职,社团,培训,校园信息,活动">
		<meta name="description" content="大学喵，带给你更惬意的大学生活">
		<link rel="stylesheet" href= {{printf "\"%sbootstrap-3.3.7-dist/css/bootstrap.min.css\"" .SrcHost}}>  
		<script src= {{printf "\"%sbootstrap-3.3.7-dist/jquery-2.1.1/jquery.min.js\"" .SrcHost}}></script>
		<script src= {{printf "\"%sbootstrap-3.3.7-dist/js/bootstrap.min.js\"" .SrcHost}}></script>
		<script>
			var image = new Array;
			$(document).ready(function() {
				var imgList = $("img");
				if(imgList.length <= 2) {
					$("div[name='download-button']").css("display","none");
				}
				for(var i=0;i<imgList.length;i++) {
					var src = $(imgList[i]).attr("src");
					var srcHost = {{printf "%q" .SrcHost}};
					if(src && (src.indexOf("data:image/")==0 && src.indexOf("base64")!=-1)) continue;
					if(src && src.indexOf("image/")==0) {
						imgList[i].loaded = true;
						image.push(srcHost + src);
						src = srcHost + src.replace("image/","thumbnailImage/");
					} else {
						image.push(src);
					}
					$(imgList[i]).attr("src",src);
					{{if eq .OSType "android"}}
					$(imgList[i]).click(function() {
						var idx = 0;
						for(idx=0;idx<imgList.length;idx++) {
							if(imgList[idx]==this) break;
						}
						window.imagelistener.getPicturesUrl(JSON.stringify({
							"imageURLArray": image,
							"imageIndex": idx,
						}));
					});
					{{else if eq .OSType "iOS"}}
					$(imgList[i]).click(function() {
						var idx = 0;
						for(idx=0;idx<imgList.length;idx++) {
							if(imgList[idx]==this) break;
						}
						window.webkit.messageHandlers.showImage.postMessage({
							"imageURLArray": image,
							"imageIndex": idx,
						});
					});
					{{end}}
					if(!$(imgList[i]).attr("width") || Number($(imgList[i]).attr("width"))<150) continue;
					$(imgList[i]).css({
						"display": "block",
						"height":"auto",
						"width":"auto",
						"margin-left":"auto",
						"margin-right": "auto",
					});
				}
			});
		</script>

		<style>
			* {
				max-width: 100%;
			}
			img {
				max-width: 100%;
				height: auto;
			}
			.body {
				width: 100%;
				overflow: auto;
				word-break: break-all;
				word-wrap: break-word;
			}
			.container {
				width: 100%;
			}
			.download {
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding-left: 30px;
				padding-right: 30px;
				border: 0px;
				background-color: #4990e2;
			}
		</style>
	</head>
	<body>
		{{if eq .OSType ""}}
		<div style="height: 48px;width: 100%;background-image: url('/headBG.png');background-size: cover;">
			<a class="btn btn-default" href="/" style="float: right;border:1 solid #ffffff; border-radius:8px;color: #ffffff;background-color: rgba(255,255,255,0);margin-top: 6px;margin-right: 14px;">下载</a>
			<img src= {{printf "\"%sMewIcon.png\"" .SrcHost}} style="display: inline-block;max-height: 30px;width: auto;margin-top: 6px;padding-left: 22px;padding-right: 4px;"></img>
			<img src= {{printf "\"%s大学喵_sm.png\"" .SrcHost}} style="display: inline-block;max-height: 25px;width: auto;"></img>
			<span style="position: absolute;left: 60px;top: 28px;font-size:11px;color:#ffffff;">免费、有料、能救急的校园生活小助理</span>
		</div>
		{{end}}
		<div class="container">
			<div class=" col-xs-12 col-sm-12 body">
				<h3>{{.Title | html}}</h3>
				<span style="color:#4a4a4a;">{{.CreateTime}}</span>
				<span style="color:#4990e2;">{{.Nickname | html}}</span>
				<br>
				<br>
				{{.Content}}
			</div>
		</div>
		{{if eq .OSType ""}}
		<div name="download-button" style="padding-bottom: 30px;padding-top: 48px;height: auto;">
			<button class="btn btn-primary download" onclick="location.href='/'">下载大学喵App查看高清大图</button>
		</div>
		{{end}}
	</body>
</html>
{{end}}