{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8" />
		<title>大学喵</title>
		<meta name="keywords" content="大学喵 校园app 兼职 培训惠 优惠 培训 喵喵工作室 大学 喵 广州大学 校园生活 校园 大学生活">
		<meta name="description" content="1、新生如何快速适应大学生活？
		2、老生的刷绩点、刷证书之道是什么？
		3、学校有没有你感兴趣的社团？
		4、可靠的兼职、培训、优惠信息哪里找？
		5、问了舍友、同学、老师以及百度之后都无解的疑问，何处有解？">
		<!--引入jquery和bootstrap-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href= {{printf "\"%sbootstrap-3.3.7-dist/css/bootstrap.min.css\"" .SrcHost}}>  
		<script src= {{printf "\"%sbootstrap-3.3.7-dist/jquery-2.1.1/jquery.min.js\"" .SrcHost}}></script>
		<script src= {{printf "\"%sbootstrap-3.3.7-dist/js/bootstrap.min.js\"" .SrcHost}}></script>
	</head>
	<style>
		* {
			color: #ffffff;
		}
		.title {
			margin-bottom: 1em;
			padding-left: 0;
			padding-right: 0;
			max-width: 90%;
		}
		.title-icon {
			padding-left: 0;
			padding-right: 0;
			margin-top: -3vh;
		}
		.sub-title {
			width: 100%;
			opacity:0.7;
			font-size:14px;
			padding-right: 10px;
			text-align: right;
		}
		.footer {
			margin-top: 10vh;
			margin-bottom: 10px;
			width: 100%;
			left: 0;
			bottom: 10px;
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 13px;
			text-align: center;
		}
		.input { margin-top: 18px; }
		input {
			border: 1px solid;
			border-radius: 3px;
		}
		.submit {
			margin-top: 30px;
			background:#e74c3c;
			border-radius:2px;
			border: 0;
			color: white;
			width:85px;
			height:44px;
		}
		.top {
			margin-top: 10vh;
		}
		.mid {
			margin-top: 5vh;
		}
		.download {
			display: inline-block;
			margin-bottom: 5px;
			max-height: 48px;
			width: auto;
		}
		.download.iOS {
			display: block;
		}
		.emphasize {
			font-size: 22px;
			text-decoration:underline;
		}
		.weChat {
			display: none;
		}
		@media (min-width: 768px) {
			.top {
				margin-top: 20vh;
			}
			.mid {
				margin-top: 10vh;
			}
			.download {
				display: block;
				margin-right: auto;
				margin-left: auto;
			}
		}
	</style>
	<script>
		$(document).ready(function() {
			var userAgent = navigator.userAgent;
			if(userAgent.indexOf("Android")!=-1 && userAgent.indexOf("MicroMessenger")!=-1)
			{
				$(".download.android").css("float","left");
				$(".weChat").css("display","block");
			}
		})
	</script>
  <body style="background-image: url('/background.jpg');background-repeat: no-repeat;background-size: cover;background-position: center center;">
		<div class="container">
			<div class="row top">
				<div class="col-xs-push-1 col-sm-push-3 col-md-push-3 col-xs-10 col-sm-6 col-md-6">
					<div class="row">
						<img class="col-xs-11 title" src="大学喵.png"></img>
						<img class="col-xs-1 title-icon" src="MewIcon.png"></img>
					</div>
					<div class="sub-title">—— 这里有你<span style="font-size: 17px;text-decoration:underline;">百度不到</span>的校园干货</div>
				</div>
			</div>
			<div style="margin-top:10vh;font-size: 18px;">
				<div class="col-sm-8 col-sm-push-1 col-xs-12">
					<p><img src="/appTellYou.png" style="max-height: 30px;width:auto"></img></p>
						1、新生如何<span class="emphasize">快速适应大学生活</span>？<br />
						2、老生的<span class="emphasize">刷绩点、刷证书</span>之道是什么？<br />
						3、学校有没有<span class="emphasize">你感兴趣的社团</span>？<br />
						4、可靠的<span class="emphasize">兼职、培训、优惠</span>信息哪里找？<br />
						5、问了舍友、同学、老师以及<span class="emphasize">百度之后都无解的疑问，何处有解</span>？
				</div>
				<div class="col-sm-4 col-xs-12" style="margin-top: 8vh;">
					<a href = "https://itunes.apple.com/app/apple-store/id1280429561?mt=8"><img class="download iOS" src="/ios.png"></img></a>
					<div>
						<a class="col-sm-12 col-xs-6" style="padding-left: 0px;padding-right: 0px;" href = {{printf "\"%scollegemew%s.apk\"" .SrcHost .Version}}><img class="download android" src="/android.png"></img></a>
						<span class="weChat col-xs-6" style="font-size: 15px">(请点击右上方用浏览器打开)</span>
					</div>
				</div>
			</div>
			<div class="footer">
					Copyright © 2017 大学喵. All rights reserved.
					<span>
					备案号：<a href="http://www.miitbeian.gov.cn" style="color: #ffffff">粤ICP备17103765号</a>
					</span>
			</div>
		</div>
	</body>
</html>
{{end}}