{{define "template"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" content="大学喵,喵喵工作室,广州大学,校园app,校园,app,guangdamiao,mewmewstudio,大学城,广州大学城,校园兼职,社团,培训,校园信息,活动">
		<meta name="description" content="大学喵，带给你更惬意的大学生活">
		<link rel="stylesheet" href= {{printf "\"%sbootstrap-3.3.7-dist/css/bootstrap.min.css\"" .SrcHost}}>  
		<script src= {{printf "\"%sbootstrap-3.3.7-dist/jquery-2.1.1/jquery.min.js\"" .SrcHost}}></script>
		<script src= {{printf "\"%sbootstrap-3.3.7-dist/js/bootstrap.min.js\"" .SrcHost}}></script>
		<style>
			* {
				max-width: 100%;
			}
			button {
				border-width: 0px;
			}
			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
			.body {
				width: 100%;
				min-height: 100vh;
				overflow: auto;
				word-break: break-all;
				word-wrap: break-word;
			}
			.container {
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class=" col-xs-12 col-sm-12 body">
				{{.Content}}
			</div>
		</div>
	</body>
</html>
{{end}}