* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  position: relative;
		  z-index: inherit;
	font-family: "Lucida Console", Monaco, monospace;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	min-width: 920px;
}

* {
	max-width: 100%;
}

.cke_dialog_contents_body {
	overflow:auto;
	max-height: 500px;
}

.cke_dialog_contents_body * {
	max-height: 500px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
	border-width: 0px;
}

td>button {
	margin: 2px;
}

::-webkit-scrollbar-track {
	display: none;
	width: 8px;
	height: 8px;
	border-radius: 8px;
}

::-webkit-scrollbar-track:hover {
	display: block;
	background-color: lightgray;
}
::-webkit-scrollbar-thumb {
	display: block;
	background-color: grey;
	width: 8px;
	height: 8px;
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:active {
	display: block;
	background-color: black;
}
::-webkit-scrollbar {
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
}

.container {
	width: 100% !important;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: #cccccc;
	opacity: 0.4;
}

.mask.loading {
	z-index: 9999;
}

.loading-text {
	display: block;
	margin-top: 30vh;
	font-size: 4em;
	text-align: center;
}

.alert-box {
	position: absolute;
	top: 20px;
	width: 300px;
	z-index: 1051;
}

.header {
	width:100%;
	height: 15vh;
	background:#7fb2ed;
}
.header .icon {
	margin-top: 4vh;
	margin-left: 4%;
	vertical-align: baseline;
	height: 6vh;
	margin-right: 1%;
	float: left;
}
.header .title {
	margin-top: 4vh;
	float: left;
	color: white;
	font-size: 4vh;
}
.header .login-message {
	margin-top: 1vh;
	margin-right: 3%;
	float: right;
	font-size: 13px;
	color: #ffffff;
}
.header .logout {
	margin-top: 4vh;
	margin-right: 2%;
	padding-top: 1.5vh;
	height: 6vh;
	width: 5%;
	float:right;
	background:#e74c3c;
	border: 0;
	border-radius:2px;
	font-size: 8px;
	color:#ffffff;
	text-align:center;
}

.menu {
	position: absolute;
	display: inline-block;
	width: 16%;
	height: 75vh;
	margin-top: 4vh;
	margin-bottom: 3vh;
	margin-right: 1.5%;
	background:#ffffff;
	border:1px solid #d8dde6;
	box-shadow:1px 0 0 0 #d8dde6;
}

.list>ul>li>a {
	font-size: 12px;
}

.menu .title {
	height: 6.25vh;
	width: 100%;
	font-size:13px;
	color:#9b9b9b;
	border: 0;
	text-align:center;
	letter-spacing:0;
}

.menu > .list {
	height: 68.75vh;
	overflow-y: auto;
}

.menu .item {
	width: 100%;
	height: 5vh;
	margin-top: 2px;
}

.menu .item > a {
	display: inline-block;
	height: 100%;
	font-size:15px;
	color:#54698d;
	letter-spacing:1px;
}

.menu .item .badge { 
	display: inline-block;
	background:#fe3824; 
}

.menu .item .mark {
	position: absolute;
	display: block;
	width: 4px;
	height: 100%;
	background-color:#4990e2;
	z-index: 10;
}

.menu .item .mark.active {
	background:#fe3824;
}

.menu .list .dropdown-list {
	display: none;
	clear: both
}

.content {
	position: absolute;
	left: 17.5%;
	display: inline-block;
	width: 81%;
	height: 75vh;
	margin-top: 4vh;
	margin-bottom: 3vh;
	border:1px solid #e5e5e5;
}

.content .operation {
	height: 8%;
	width: 100%;
	padding: 5px;
	background: #f5f5f5;
}
.content .operation .btn {
	margin-right: 10px;
	float: right;
}

.content > .table-content {
  height: 82%;
  width: 100%;
	white-space: pre-line;
	background-color: #f5f5f5;
  overflow-y: auto;
}

.content > .footer {
	position: absolute;
	bottom: 0;
	height: 10%;
	width: 100%;
	z-index: 10;
	background-color: #f5f5f5;
}

.content > .footer .pageSize,
.content > .footer .pageIndex {
	width: 4em;
}

.content > .footer button[name="lastPage"],
.content > .footer button[name="nextPage"] {
	color:#3498db;
	border-radius:22px;
}

/*
.content .operation .btn.red {
	background:#e74c3c;
}
.content .operation .btn.blue {
	background:#3498db;
	padding-left: 8px;
	padding-right: 8px;
}
*/
.content input[type="checkbox"] {
	height: 18;
	width: 18px;
	background-color:#ffffff;
	border:1px solid #cccccc;
}
.content input[type="checkbox"]:checked {
	background-color:#3498db;
}

.divider {
	margin-top: 81vh;
	height: 1.5px;
	width: 100%;
	opacity:0.5;
	background: #9b9b9b;
}

.copyright {
	font-size:13px;
	color:rgba(155,154,155,0.50);
	text-align: center;
}

@media (min-width: 480px) {
	.header .login-message {
		margin-top: 6vh;
	}
}

@media (min-height: 480px) {
	.header .logout {
		font-size: 14px;
	}
}

#editor-modal {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
}

.mask.window {
	z-index: 99;
}

#editor-modal>.container {
	width: 100%;
	height: 100%;
}

#editor-modal .phone-header {
	padding-top:20px;
	height: 80px;
	width: 360px;
	background:#4990e2;
	box-shadow:0 0 0 0 #b2b2b2;
}

#editor-modal .phone-header > .title {
	text-align: center;
	text-justify: auto;
	color: white;
}

#editor-modal .phone-body {
	height: 560px;
	width: 360px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: whitesmoke;
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
}

img[name="icon"] {
	display: inline-block;
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
}